* {
  margin: 0;
  padding: 0;
}
body {
  background: #72258b;
  color: #fff;
  font-size: 18px;
  font-family: "Exo 2", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  color: #34495e;
}
.border {
    position: relative;
    text-align: center;
}
img.marcador {
    position: absolute;
    right: 0;
    left: 0;
    top: 10px;
    margin: auto;
    z-index: 999;
}
#wrapper {
  width: auto;
  position: absolute;
  transform: scale(1.3);
  left: -6px;
  right: 0;
  top: 130px;
  z-index: -1;
}
#txt {
  color: #eaeaea;
}
#wheel {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transform: rotate(0deg);
  margin: auto;
}
#inner-wheel {
  width: 100%;
  height: 100%;
  transition: all 6s cubic-bezier(0, .99, .44, .99);
}
#wheel .sec {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 130px 75px 0;
  border-color: #19c transparent;
  transform-origin: 75px 129px;
  left: 50px;
  top: -4px;
  opacity: 1;
}
.percentOff {
  display: flex;
  align-items: center;
}
.percentOff span {
  font-size: 12px;
}
.percentOff span b {
    font-size: 20px;
    line-height: 1;
}
#wheel .sec:nth-child(1) {
  transform: rotate(60deg);
  border-color: #ff35b2 transparent;
}
#wheel .sec:nth-child(2) {
  transform: rotate(120deg);
  border-color: #6d2382 transparent;
}
#wheel .sec:nth-child(3) {
  transform: rotate(180deg);
  border-color: #ff35b2 transparent;
}
#wheel .sec:nth-child(4) {
  transform: rotate(240deg);
  border-color: #6d2382 transparent;
}
#wheel .sec:nth-child(5) {
  transform: rotate(300deg);
  border-color: #ff35b2 transparent;
}
#wheel .sec:nth-child(6) {
  transform: rotate(360deg);
  border-color: #6d2382 transparent;
}
.discountPercent {
  margin-top: -112px;
  color: rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000000;
  display: block;
  text-align: center;
  font-size: 38px;
  margin-left: -24px;
  text-shadow: rgb(255 255 255 / 10%) 0px -1px 0px, rgb(0 0 0 / 20%) 0px 1px 0px;
}
.discountPercent.a {
    margin-left: -36px;
}
.percentOff p, span {
    color: #fff;
    font-family: cursive;
    font-weight: bold;
}
#spin {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 48%;
  left: 48%;
  margin: -34px 0 0 -34px;
  border-radius: 50%;
  z-index: 1000;
  font-family: "Exo 2", sans-serif;
  user-select: none;
  background-image: url(./img/centro.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#inner-spin {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -27px 0 0 -27px;
  border-radius: 50%;
  z-index: 999;
}
#spin:active #inner-spin {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}
#spin:active:after {
  font-size: 15px;
}
#shine {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.99) 1%, rgba(255, 255, 255, 0.91) 9%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr = '#ffffff', endColorstr='#00ffffff', GradientType=1);
  opacity: 0.1;
}
@keyframes hh {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(7deg);
  }
}
.spin {
  animation: hh 0.1s;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: none;
  background: #fff0;
  cursor: pointer;
  position: absolute;
  z-index: 9999999999;
  left: 0px;
  right: 9px;
  margin: auto;
  top: 37.3%;
}